@model SearchRentACarDto
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
<body>

    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    @await Component.InvokeAsync("_DefaultCoverComponentPartial")


    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12 featured-top">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">

                            <form method="post" id="rentCarForm" class="request-form ftco-animate bg-primary">

                                <h2>Make your trip</h2>
                                
                                <div class="form-group">
                                    <label for="" class="label">Pick-up location</label>
                                    @* @Html.DropDownListFor(x => x.LocationId, (List<SelectListItem>)ViewBag.Locations, new { @class = "form-control", name="locationId"}) *@

                                    <select asp-for="LocationId" id="locationId" name="locationId" class="form-control">
                                        <option value="">Select Pick-up Location</option>
                                        @if (ViewBag.Locations != null)
                                        {
                                            var pickupLocations = ViewBag.Locations as List<SelectListItem>;
                                            if (pickupLocations != null)
                                            {
                                                foreach (var item in pickupLocations)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="LocationId" class="text-danger small text-muted"></span>
                                </div>

                                <div class="form-group">
                                    <label for="" class="label">Drop-off location</label>
                                    <select id="DropOffLocationId" name="DropOffLocationId" class="form-control">
                                        <option value="">Select Drop-Off Location</option>
                                        @if (ViewBag.Locations != null)
                                        {
                                            var dropOffLocations = ViewBag.Locations as List<SelectListItem>;
                                            if (dropOffLocations != null)
                                            {
                                                foreach (var item in dropOffLocations)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="DropOffLocationId" class="text-danger small text-muted"></span>
                                </div>

                                <div class="d-flex">
                                    <div class="form-group mr-2">
                                        <label for="" class="label">Pick-up date</label>
                                        <input asp-for="BookPickDate" class="form-control" >
                                        <span asp-validation-for="BookPickDate" class="text-danger small text-muted"></span>
                                    </div>
                                    <div class="form-group ml-2">
                                        <label for="" class="label">Drop-off date</label>
                                        <input asp-for="BookOffDate" class="form-control">
                                        <span asp-validation-for="BookOffDate" class="text-danger small text-muted"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Pick-up time</label>
                                    <input asp-for="TimePick" class="form-control" >
                                    <span asp-validation-for="TimePick" class="text-danger small text-muted"></span>
                                </div>
                                <div class="form-group">
                                    <label class="label">Drop-off time</label>
                                    <input asp-for="TimeDrop" class="form-control">
                                    <span asp-validation-for="TimeDrop" class="text-danger small text-muted"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Rent A Car Now" class="btn btn-secondary py-3 px-4">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="services-wrap rounded-right w-100">
                                <h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
                                <div class="row d-flex mb-4">
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Choose Your Pickup Location</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Select the Best Deal</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                        <div class="services w-100 text-center">
                                            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                            <div class="text w-100">
                                                <h3 class="heading mb-2">Reserve Your Rental Car</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p><a href="#" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_DefaulGetLast5CarComponentPartial")

    @await Component.InvokeAsync("_AboutUsComponentPartial")

    @await Component.InvokeAsync("_OurServicesComponentPartial")

    @await Component.InvokeAsync("_BecomeADriverComponentPartial")

    @await Component.InvokeAsync("_TestimonialComponentPartial")

    @await Component.InvokeAsync("_DefaultGetLast3BlogComponentPartial")

    @await Component.InvokeAsync("_DefaultStatisticsComponentPartial")

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")
    
    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")

</body>
</html>

