@model List<ResultAllBlogsWithAuthorDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Blog List</h4>
                        <p class="card-subtitle mb-4">
                            You can perform transactions related to Blogs on this page.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Created Date</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        <th>On Site</th>
                                        <th>Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Title</td>
                                            <td>@item.AuthorName</td>
                                            <td>@item.CreatedDate.ToShortDateString()</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.Description</td>
                                            <td><a href="/Admin/AdminBlog/RemoveBlog/@item.BlogId" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/Admin/AdminBlog/UpdateBlog/@item.BlogId" class="btn btn-outline-success">Update</a></td>
                                            <td><a href="/Blog/BlogDetail/@item.BlogId" class="btn btn-outline-warning">On Site</a></td>
                                            <td><a href="/Admin/AdminComment/Index/@item.BlogId" class="btn btn-outline-dark">Comments</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <a href="/Admin/AdminBlog/CreateBlog/" class="btn btn-outline-primary">Create Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
