@model List<FilterRentACarDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";

    string pickupDate = ViewBag.PickDate != null ? ViewBag.PickDate.ToString() : "";
    string dropoffDate = ViewBag.DropDate != null ? ViewBag.DropDate.ToString() : "";
    string locationId = ViewBag.LocationId.ToString();
    string dropOffLocationId = ViewBag.DropOffLocationId.ToString();
}

<style>
    .car-wrap .img {
        height: 270px;
    }
</style>


<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12 featured-top">

                <form method="post" asp-action="Index" class="request-form ftco-animate bg-primary">
                    <h2 class="text-white text-center">Search Filter</h2>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="" class="label">Pick-up location</label>
                                <select id="locationId" name="locationId" class="form-control">
                                    <option value="">Select Pick-up Location</option>
                                    @if (ViewBag.Locations != null)
                                    {
                                        var pickUpLocations = ViewBag.Locations as List<SelectListItem>;
                                        if (pickUpLocations != null)
                                        {
                                            foreach (var item in pickUpLocations)
                                            {
                                                <option value="@item.Value" selected="@(item.Value == locationId ? "selected" : null)">@item.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="" class="label">Drop-off location</label>
                                <select id="DropOffLocationId" name="DropOffLocationId" class="form-control">
                                    <option value="">Select Drop-Off Location</option>
                                    @if (ViewBag.Locations != null)
                                    {
                                        var dropOffLocations = ViewBag.Locations as List<SelectListItem>;
                                        if (dropOffLocations != null)
                                        {
                                            foreach (var item in dropOffLocations)
                                            {
                                                <option value="@item.Value" selected="@(item.Value == dropOffLocationId ? "selected" : null)">@item.Text</option>
                                            }
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6 mt-1">
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="bookpickdate" class="label text-white">Pick-up date</label>
                                    <input type="date" class="form-control" value="@ViewBag.PickDate" name="bookpickdate" id="bookpickdate">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="bookoffdate" class="label text-white">Drop-off date</label>
                                    <input type="date" class="form-control" value="@ViewBag.DropDate" name="bookoffdate" id="bookoffdate">
                                </div>
                            </div>

                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="timepick" class="label text-white">Pick-up time</label>
                                    <input type="text" class="form-control" value="@ViewBag.PickTime" name="timepick" id="timepick" placeholder="Enter pick-up time">
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">Drop-off time</label>
                                    <select class="form-control" name="timedrop" id="timedrop">
                                        <option value="">Select drop-off time</option>
                                        @for (int hour = 9; hour <= 18; hour++)
                                        {
                                            for (int minute = 0; minute <= 30; minute += 30)
                                            {
                                                <option value="@hour.ToString("D2"):@minute.ToString("D2")" selected="@(ViewBag.DropTime == $"{hour:D2}:{minute:D2}" ? "selected" : null)">@hour.ToString("D2"):@minute.ToString("D2")</option>
                                            }
                                        }
                                    </select>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-secondary py-3 px-4">
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-3">
            <p class="text-left ml-3">Total @Model.Count results found.</p>
            @foreach (var item in Model)
            {
                <div class="col-md-12">
                    <div class="car-wrap rounded ftco-animate d-flex">
                        <div class="img rounded" style="background-image: url(@item.CoverImageUrl); width: 40%;"></div>
                        <div class="text pl-4 d-flex flex-column justify-content-between" style="width: 60%;">
                            <div>
                                <h2 class="mb-0" style="font-size: 24px;"><a href="/Car/CarDetail/@item.CarId">@item.Model</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat" style="font-size: 18px;">@item.BrandName</span>
                                    <p class="price ml-auto" style="font-size: 18px;">@item.HourlyPrice.ToString("0")$ <span>/hour</span></p>
                                </div>
                                <div class="d-flex">
                                    <div class="mr-4">
                                        <i class="icon-tachometer"></i>
                                        <span>@item.Km Km</span>
                                    </div>
                                    <div class="mr-4">
                                        <i class="icon-cogs"></i>
                                        <span>@item.TransmissionType</span>
                                    </div>
                                    <div class="mr-4">
                                        <i class="icon-local_gas_station"></i>
                                        <span>@item.Fuel</span>
                                    </div>
                                    <div>
                                        <i class="icon-user-circle"></i>
                                        <span>21+ Age</span>
                                    </div>
                                </div>
                            </div>

                            <form id="bookNowForm" method="post" asp-action="GetForReservation">
                                <div class="mt-auto">
                                    <p class="d-flex mb-0 d-block">
                                    
                                        <input type="hidden" name="CarId" value="@item.CarId" />
                                        <input type="hidden" name="PickupLocationId" value="@locationId" />
                                        <input type="hidden" name="DropOffLocationId" value="@dropOffLocationId" />
                                        <input type="hidden" name="PreferredPickupDate" value="@ViewBag.PickDate.ToString("dd/MM/yyyy")" />
                                        <input type="hidden" name="PreferredDropOffDate" value="@ViewBag.DropDate.ToString("dd/MM/yyyy")" />

                                        <button type="submit" class="btn btn-primary py-2 mr-1 ">Book now</button>
                                        <button type="button" onclick="window.location.href='/Car/CarDetail/@item.CarId'" class="btn btn-secondary py-2 ml-1">Details</button>

                                        @* <a href="/Car/CarDetail/@item.CarId" class="btn btn-secondary py-2 ml-1 btn-block">Details</a> *@
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
