
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Index</h1>
<h2>@ViewBag.PickupLocation </h2>
<h2>@ViewBag.DropoffLocation</h2>
<h2>@ViewBag.PickupDate</h2>
<h2>@ViewBag.DropoffDate</h2>
<h2>@ViewBag.PickupTime </h2>

