@model AccountProfileDto

@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/UILayout/OptionUI.cshtml";
    var dateOfBirth = ((DateTime)Model.DateOfBirth!).ToString("yyyy-MM-dd");
}
<style>
    body {
        background-color: #000;
        color: #69707a;
    }
    #profileAccount {
        background-color: #f2f6fc;
        color: #69707a;
    }

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

        .card .card-header {
            font-weight: 500;
        }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>

<section class="ftco-section contact-section" >
    <div class="py-5" id="profileAccount">
        <div class="container px-4 mt-4">
            <!-- Account page navigation-->
            <nav class="nav nav-borders">
                <a class="nav-link active ms-0" href="/Profile/Index/">Profile</a>
                <a class="nav-link " href="/Profile/Reservations/">Reservations</a>
                <a class="nav-link" href="/Profile/Security/">Security</a>
            </nav>
            <hr class="mt-0 mb-4">
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <img class="img-account-profile rounded-circle mb-2" src="~/carbook-master/images/img.png" alt="">
                            <!-- Profile picture help block-->
                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                            <!-- Profile picture upload button-->
                            <button class="btn btn-primary" type="button">Upload new image</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Account Details</div>
                        <div class="card-body">
                            <form method="post" asp-action="Index" asp-controller="Profile">
                                <!-- Form Group (username)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="UserName">Username (how your name will appear to other users on the site)</label>
                                    <input class="form-control" id="UserName" name="UserName" type="text" value="@Model.Username">
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="Name">First name</label>
                                        <input class="form-control" id="Name" name="Name" type="text" placeholder="Enter your Name" value="@Model.Name">
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="Surname">Last name</label>
                                        <input class="form-control" id="Surname" name="Surname" type="text" placeholder="Enter your Surname" value="@Model.Surname">
                                    </div>
                                </div>
                                <!-- Form Row -->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (organization name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="LicenseIssuanceYear">License Issuance Year</label>
                                        <input class="form-control" id="LicenseIssuanceYear" name="LicenseIssuanceYear" type="text" placeholder="Enter your License Issuance Year" value="@Model.LicenseIssuanceYear">
                                    </div>
                                    <!-- Form Group (location)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="Address">Address</label>
                                        <input class="form-control" id="Address" name="Address" type="text" placeholder="Enter your Address" value="@Model.Address">
                                    </div>
                                </div>
                                <!-- Form Group (email address)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="Email">Email address</label>
                                    <input class="form-control" id="Email" name="Email" type="email" placeholder="Enter your email address" value="@Model.Email">
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="PhoneNumber">Phone number</label>
                                        <input class="form-control" id="PhoneNumber" name="PhoneNumber" type="tel" placeholder="Enter your phone number" value="@Model.PhoneNumber">
                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="DateOfBirth">Birthday</label>
                                        <input class="form-control" id="DateOfBirth" name="DateOfBirth" type="date" placeholder="Enter your birthday" value="@dateOfBirth">
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

