@model List<FilterRentACarDto>

<div class="row mt-3">
    <p class="text-left ml-3">Total @Model.Count results found.</p>
    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <div class="car-wrap rounded ftco-animate d-flex">
                <div class="img rounded" style="background-image: url(@item.CoverImageUrl); width: 40%;"></div>
                <div class="text pl-4 d-flex flex-column justify-content-between" style="width: 60%;">
                    <div>
                        <h2 class="mb-0" style="font-size: 24px;"><a href="/Car/CarDetail/@item.CarId">@item.Model</a></h2>
                        <div class="d-flex mb-3">
                            <span class="cat" style="font-size: 18px;">@item.BrandName</span>
                            <p class="price ml-auto" style="font-size: 18px;">@item.HourlyPrice.ToString("0")$ <span>/hour</span></p>
                        </div>
                        <div class="d-flex">
                            <div class="mr-4">
                                <i class="icon-tachometer"></i>
                                <span>@item.Km Km</span>
                            </div>
                            <div class="mr-4">
                                <i class="icon-cogs"></i>
                                <span>@item.TransmissionType</span>
                            </div>
                            <div class="mr-4">
                                <i class="icon-local_gas_station"></i>
                                <span>@item.Fuel</span>
                            </div>
                            <div>
                                <i class="icon-user-circle"></i>
                                <span>21+ Age</span>
                            </div>
                        </div>
                    </div>

                    <form id="bookNowForm" method="post" asp-action="GetForReservation">
                        <div class="mt-auto">
                            <p class="d-flex mb-0 d-block">

                                <input type="hidden" name="CarId" value="@item.CarId" />
                                <input type="hidden" name="PickupLocationId" value="@ViewBag.LocationId" />
                                <input type="hidden" name="DropOffLocationId" value="@ViewBag.DropOffLocationId" />
                                <input type="hidden" name="PreferredPickupDate" value="@ViewBag.PickDate" />
                                <input type="hidden" name="PreferredDropOffDate" value="@ViewBag.DropDate" />

                                <button type="submit" class="btn btn-primary py-2 mr-1 ">Book now</button>
                                <button type="button" onclick="window.location.href='/Car/CarDetail/@item.CarId'" class="btn btn-secondary py-2 ml-1">Details</button>

                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>



    