@model CreateReservationDto

@{
    ViewData["Title"] = "Pre-Booking";
    Layout = "~/Views/UILayout/Index.cshtml";
    
}

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <form asp-action="Index" method="post" class="bg-light p-5 contact-form rounded shadow-lg">

                    <h2 class="mb-4 text-center alert alert-success">Pre-Booking Form</h2>

                    <input type="hidden" asp-for="CarId" value="@ViewBag.v3">
                    <input type="hidden" asp-for="AppUserId" value="@ViewBag.AppUserId">

                    <div class="text-center mb-4">
                        <h5><span class="badge badge-primary">Preferred Car: @ViewBag.BrandName - @ViewBag.CarModel</span></h5>
                    </div>

                    <div class="form-group">
                        <label asp-for="PickupLocationId" class="label">Pickup Location</label>
                        <select asp-for="PickupLocationId" asp-items="@(new SelectList(ViewBag.Locations, "Value", "Text"))" class="form-control" required>
                            <option value="">Select Pickup Location</option>
                        </select>
                        <span asp-validation-for="PickupLocationId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DropOffLocationId" class="label">Drop-off Location</label>
                        <select asp-for="DropOffLocationId" asp-items="@(new SelectList(ViewBag.DropOffLocations, "Value", "Text"))" class="form-control" required>
                            <option value="">Select Drop-off Location</option>
                        </select>
                        <span asp-validation-for="DropOffLocationId" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PreferredPickupDate" class="label">Preferred Pickup Date</label>
                                <input asp-for="PreferredPickupDate" class="form-control" required>
                                <span asp-validation-for="PreferredPickupDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PreferredDropOffDate" class="label">Preferred Drop-off Date</label>
                                <input asp-for="PreferredDropOffDate" class="form-control" required>
                                <span asp-validation-for="PreferredDropOffDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="AdditionalComments" class="label">Additional Comments</label>
                        <textarea asp-for="AdditionalComments" class="form-control" rows="3" placeholder="Additional"></textarea>
                        <span asp-validation-for="AdditionalComments" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-block py-3">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
